^{:open-url   false
  :watch-dirs ["test" "src" "dev"]
  :css-dirs ["resources/public/css"]
  :auto-testing true}
{:main vector-primitives-cljs.dev
 :output-to            "resources/public/js/compiled/app.js"
 :output-dir           "resources/public/js/compiled/out"
 :asset-path           "/js/compiled/out"
 :source-map-timestamp true}
